@keyframes wiggle {
  0% { transform: rotate(0deg); }
  33% { transform: rotate(10deg); }
  66% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.hero {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: 60px;
  padding: 40px;

  @media (max-width: 900px) {
    gap: 40px;
  }

  @media (max-width: 720px) {
    padding: 20px;
  }

  @media (max-width: 560px) {
    grid-template-columns: 1fr;
  }

  .text {
    h1 {
      font-size: 42px;

      @media (max-width: 900px) {
        font-size: 32px;
      }

      @media (max-width: 560px) {
        font-size: 42px;
      }

      @media (max-width: 450px) {
        font-size: 32px;
      }

      .wiggle {
        display: inline-block;
        animation: wiggle 0.8s infinite;
        animation-iteration-count: 5;
        animation-timing-function: ease-in-out
      }
    }
    p {
      font-size: 32px;
      line-height: 40px;

      @media (max-width: 900px) {
        font-size: 24px;
        line-height: 32px;
      }

      @media (max-width: 660px) {
        font-size: 18px;
        line-height: 28px;
      }
      @media (max-width: 560px) {
        font-size: 32px;
        line-height: 40px;
      }
      @media (max-width: 450px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .image {
    position: relative;
    max-width: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      right: -15px;
      bottom: -15px;
      left: 15px;

      background-color: rgba(0,0,0,0.1);
      border-radius: 20px;
    }

    img {
      max-width: 100%;
    }
  }
}

