{{ block "about-page" . }}
    {{ template "layout-start" . }}

    <div class="about dark"> 
      {{ template "header" . }}

      <div class="content small mt-5">

        <div class="row">
          <img src="/static/images/ole-herland.jpg" alt="Ole Herland" class="profile-image margin-auto" /> 
          <h1 class="center mt-3 mb-0">Ole Herland</h1>
          <p class="center">Write some text about myself here.</p>
        </div>

        <div class="spacer"></div>

        <div class="row">
          <h2>Full-Stack Developer+</h2> 
          <p>Sitting down with a good book is one of the best feelings. It’s a great way to consume knowledge, expand your mind and wind down. Sitting down with a good book is one of the best feelings. It’s a great way to consume knowledge, expand your mind and wind down. Sitting down with a good book is one of the best feelings. It’s a great way to consume knowledge, expand your mind and wind down. Sitting down with a good book is one of the best feelings. It’s a great way to consume knowledge, expand your mind and wind down. Sitting down with a good book is one of the best feelings. It’s a great way to consume knowledge, expand your mind and wind down. </p>
        </div>

      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}
