{{ block "admin-nav" . }}
  <nav>
    <a href="/admin/thoughts">Thoughts</a>
    <a href="/admin/projects">Projects</a>
  </nav>
{{ end }}

{{ block "admin-login" . }}
    {{ template "layout-start" . }}

    <div class="admin-wrapper">
      <form hx-swap="outerHTML" hx-post="/login">
        <div>
          <label style="display: block;">Code: </label>
          <input  name="password" type="password" />
        </div>

        <div class="mt-1 mb-1">
        {{ if .Error }}
          <div style="color: red;">{{ .Error }}
        {{ end }}
        <div class="mt-1 mb-1">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>

    {{ template "layout-end" . }}
{{ end }}


{{ block "admin-projects" . }}
    {{ template "layout-start" . }}

    <div class="admin-wrapper">
      {{ template "admin-nav" . }}

      <a href="/admin/projects/null">Create new</a>

      <ul>
      {{ range .Projects }}
        <li>
          <a href="/admin/projects/{{ .Slug }}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
    </div>

    {{ template "layout-end" . }}
{{ end }}

{{ block "admin-project" . }}
    {{ template "layout-start" . }}

    <div class="admin-wrapper">
      {{ template "admin-nav" . }}

      <div>
      <a href="/admin/projects">Back</a>
      </div>

      {{ .Project.Name }}
      {{ .Project.Category }}
      {{ .Project.Slug }}
    </div>

    {{ template "layout-end" . }}
{{ end }}

{{ block "admin-thoughts" . }}
    {{ template "layout-start" . }}

    <div class="admin-wrapper">
      {{ template "admin-nav" . }}

      thoughts
    </div>

    {{ template "layout-end" . }}
{{ end }}
