{{ block "layout-start" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Herland.me | Tech Consultant and Full-Stack+</title>
    <script>
      document.addEventListener("trix-before-initialize", () => {
        Trix.config.blockAttributes.heading1.tagName = "h2"
      });
    </script>
    <link rel="stylesheet" type="text/css" href="/static/trix.css">
    <script type="text/javascript" src="/static/trix.umd.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/htmx.min.js"></script>
  </head>

  <body>
{{ end }}

{{ block "layout-end" . }}
    <script src="/static/main.js"></script>
  </body>
</html>
{{ end }}


{{ block "nav" . }}
<nav>
  <a href="/projects">Projects</a>
  <a href="/thoughts">Thoughts</a>
  <a href="/about-me">About me</a>
</nav>

<script>
  //add active class on links starting with the pathname  
  document.addEventListener("DOMContentLoaded", (event) => {
    const atags = document.getElementsByTagName("a")
    for (const tag of atags) {
      if (window.location.pathname.includes(tag.pathname)) {
        tag.classList.add("active")
      }
    }
  });
</script>
{{ end }}


{{ block "logo" . }}
<div class="logo">
  <div class="big"><a href="/">Herland</a></div>
  <div class="small">Technology consultant</div>
</div>
{{ end }}


{{ block "header" . }}
<header>
  {{ template "logo" . }}
  {{ template "nav" . }}
</header>
{{ end }}


{{ block "subscribe-form" . }}
<div class="subscribe">
  <p class="center">Subscribe to get future thoughts on email</p>
  <form>
    <input type="email" name="email" placeholder="Your email..." />
    <button type="submit">Subscribe</button>
  </form>
  <p class="center"><small>You can also grab the <a href="#">RSS feed here.</a></small></p>
</div>
{{ end }}

