{{ block "layout-start" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Herland.me | Tech Consultant and Full-Stack+</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/htmx.min.js"></script>
  </head>

  <body>
{{ end }}

{{ block "layout-end" . }}
    <script>
      document.body.addEventListener("htmx:beforeSwap", function (evt) {
        if (evt.detail.xhr.status === 404) {
          // alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
          alert("Error: Could Not Find Resource");
        } else if (evt.detail.xhr.status === 422) {
          // allow 422 responses to swap as we are using this as a signal that
          // a form was submitted with bad data and want to rerender with the
          // errors
          //
          // set isError to false to avoid error logging in console
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        } else if (evt.detail.xhr.status === 418) {
          // if the response code 418 (I'm a teapot) is returned, retarget the
          // content of the response to the element with the id `teapot`
          evt.detail.shouldSwap = true;
          evt.detail.target = htmx.find("#teapot");
        }
      });
    </script>

  </body>
</html>
{{ end }}


{{ block "nav" . }}
<nav>
  <a href="/projects">Projects</a>
  <a href="/thoughts">Thoughts</a>
  <a href="/about-me">About me</a>
</nav>

<script>
  //add active class on links starting with the pathname  
  document.addEventListener("DOMContentLoaded", (event) => {
    const atags = document.getElementsByTagName("a")
    for (const tag of atags) {
      if (window.location.pathname.includes(tag.pathname)) {
        tag.classList.add("active")
      }
    }
  });
</script>
{{ end }}


{{ block "logo" . }}
<div class="logo">
  <div class="big"><a href="/">Herland</a></div>
  <div class="small">Technology consultant</div>
</div>
{{ end }}


{{ block "header" . }}
<header>
  {{ template "logo" . }}
  {{ template "nav" . }}
</header>
{{ end }}


{{ block "subscribe-form" . }}
<div class="subscribe">
  <p class="center">Subscribe to get future thoughts on email</p>
  <form>
    <input type="email" name="email" placeholder="Your email..." />
    <button type="submit">Subscribe</button>
  </form>
  <p class="center"><small>You can also grab the <a href="#">RSS feed here.</a></small></p>
</div>
{{ end }}

