{{ block "projects-page" . }}
    <details>
    <summary>Data</summary>
    {{.}}
    </details>
    {{ template "layout-start" . }}
   
    <div class="projects"> 
      {{ template "header" . }}

      <div class="content">
        <h2 class="mt-0 mb-3">Current projects</h2>

        <div class="featured-projects">
          {{ range .CurrentProjects }}
            {{ template "project-block" . }}
          {{ end }}
        </div>

        <h2 class="mt-5 mb-3">Historic projects</h2>
        <div class="historic-projects">
          {{ range .PastProjects }}
            {{ template "project-block" . }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}


{{ block "project-block" . }}
  <div>
    <img src="{{ .Thumb }}" alt="Naturoppdraget via Veniro" />
    <h3>{{ .Name }}</h3>
    <p>{{ .Intro }}</p>
    <a href="/projects/{{ .Slug }}" class="button">Read more</a>
  </div>
{{ end }}





{{ block "project-page" . }}
    {{ template "layout-start" . }}
    <div class="project"> 
      {{ template "header" . }}
      <div class="content small">
        <div class="center mb-5">
          <a href="/projects">Projects</a> / {{ .Name }}
        </div>

        <h1 class="center">{{ .Name }}</h1>
        <img src="{{ .Thumb }}" alt="naturoppdraget" />

        {{ .Content }}
      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}
