{{ block "projects-page" . }}
    {{ template "layout-start" . }}
   
    <div class="projects"> 
      {{ template "header" . }}

      <div class="content">
        <h2 class="mt-0 mb-3">Current projects</h2>

        <div class="featured-projects">
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
            <a href="/projects/naturoppdraget" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
        </div>

        <h2 class="mt-5 mb-3">Historic projects</h2>
        <div class="historic-projects">
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
          <div>
            <img src="#" alt="Naturoppdraget via Veniro" />
            <h3>Naturoppdraget</h3>
            <p>I’ve agued both sides of the coin throughout my career.</p>
            <a href="#" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}

{{ block "project-page" . }}
    {{ template "layout-start" . }}
   
    <div class="project"> 
      {{ template "header" . }}
      <div class="content small">
        <div class="center mb-5">
          <a href="/projects">Projects</a> / Naturoppdraget
        </div>

        <h1 class="center">Naturoppdraget</h1>
        <img src="#" alt="naturoppdraget" />

        <p>test</p>
      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}
