{{ block "thoughts-page" . }}
    {{ template "layout-start" . }}
   
    <div class="thoughts dark"> 
      {{ template "header" . }}
      <div class="content small mt-5">

        <div class="row">
          <h1 class="center mb-2">Thoughts</h1>
          <p class="center">I love exploring new concepts and finding new ways to improve my thinking. You can expect thoughts about <a href="/thoughts?tag=technology">#technology</a>, <a href="/thoughts?tag=philosophy">#philosophy</a>, <a href="/thoughts?tag=investing">#investing</a>, <a href="/thoughts?tag=mindset">#mindset</a> and <a href="/thoughts?tag=books">#books.</a></p>
        </div>

        {{ template "subscribe-form" . }}

        <div class="row article-preview">
          <h2><a href="/thoughts/article1">I don’t trust “pay as you go” and “autoscaled” services for my own projects. Should you?</a></h2>
          <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
          <div class="read-more">
            <a href="/thoughts/article1" class="button">Read more</a>
          </div>
        </div>

        <div class="row article-preview">
          <h2><a href="#">I don’t trust “pay as you go” and “autoscaled” services for my own projects. Should you?</a></h2>
          <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
          <div class="read-more">
            <a href="#" class="button">Read more</a>
          </div>
        </div>

        <div class="row article-preview">
          <h2><a href="#">I don’t trust “pay as you go” and “autoscaled” services for my own projects. Should you?</a></h2>
          <p>I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
          <div class="read-more">
            <a href="#" class="button">Read more</a>
          </div>
        </div>

      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}


{{ block "thought-page" . }}
    {{ template "layout-start" . }}
   
    <div class="thoughts dark"> 
      {{ template "header" . }}
      <div class="content small mt-5">

        <div class="row">
          <h1 class="center mb-2">I don’t trust “pay as you go” and “autoscaled” services for my own projects. Should you?</h1>
        </div>

        <div class="row article-full">
          <p>I’ve <a href="#">agued</a> both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
          <h2>Test</h2>
          <p>I’ve <a href="#">agued</a> both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.  I’ve agued both sides of the coin throughout my career.</p>
        </div>
        
        {{ template "subscribe-form" . }}

        <div class="row">
          <p class="center mb-2">Thanks for reading! Check out <a href="/thoughts">thoughts</a> for more articles.</p>
        </div>

      </div>
    </div>

    {{ template "layout-end" . }}
{{ end }}
