/* Globals */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-font: "IBM Plex Sans", sans-serif;

  --color-dark-100: #111;

  --color-light-100: #fff;

  --color-purple-100: #d1adff;
  --color-purple-300: #594F75;
  --color-purple-400: #7F65C4;
  --color-purple-500: #24202F;

  --max-width-big: 1200px;
  --max-width-small: 750px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  font-family: var(--main-font);
}

.contact.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.content {
  max-width: var(--max-width-big);
  margin: 0 auto;
  padding: 0 20px;
}

.content.small {
  max-width: var(--max-width-small);
}

.content .row {
  display: block;
  margin-bottom: 50px;
}

.content .spacer {
  display: block;
  height: 50px;
}

.center {
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 30px; }
.mt-4 { margin-top: 40px; }
.mt-5 { margin-top: 50px; }
.mr-0 { margin-right: 0; }
.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-3 { margin-right: 30px; }
.mr-4 { margin-right: 40px; }
.mr-5 { margin-right: 50px; }
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 50px; }
.ml-0 { margin-left: 0; }
.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 20px; }
.ml-3 { margin-left: 30px; }
.ml-4 { margin-left: 40px; }
.ml-5 { margin-left: 50px; }


h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 26px;
}

a {
  color: var(--color-dark-100);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark ul,
.dark li,
.dark big,
.dark small,
.dark a {
  color: var(--color-light-100);
}


/* misc */
.profile-image {
  display: block;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;

  border-radius: 300px;
}


.subscribe { 
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 1px solid var(--color-purple-300);
  border-bottom: 1px solid var(--color-purple-300);
}

.subscribe form { 
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.subscribe form input { 
  background-color: white;
  border-radius: 50px;
  padding: 13px 32px;
  min-width: 320px;

  font-size: 14px;
  color: var(--color-dark-100);

  border: none;
}

@media (max-width: 520px) {
  .subscribe form input {
    min-width: auto;
  }
}

button, 
.button { 
  display: inline-block;
  background-color: var(--color-purple-400);
  border-radius: 50px;
  padding: 13px 32px;

  font-size: 14px;
  font-weight: 700;
  color: white;
  text-decoration: none;

  border: none;
}

/* Header styles */
header {
  max-width: var(--max-width-big);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 50px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 580px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

header a {
  font-size: 18px;
  font-weight: 700;

  color: var(--color-dark-100);
  text-decoration: none;
}

.dark header a {
  color: var(--color-light-100);
}

header a.active {
  text-decoration: underline;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
}



/* Logo styles */
.logo {
  position: relative;
  z-index: 50;
}

.logo .big a {
  color: var(--color-dark-100);
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
.logo .small {
  font-size: 14px;
  font-weight: normal;
}

.dark .logo .big a,
.dark .logo {
  color: var(--color-light-100);
}



/* Homepage styles */
body:has(.homepage) {
  height: 100vh;
  padding: 50px;
  background-color: var(--color-purple-100);
}

.homepage nav {
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 50;
}

@media (max-height: 380px) {
  .homepage nav {
    left: auto;
    right: 50px;
  }
}

.homepage nav a {
  display: block;
  font-size: 52px;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;

  text-decoration: none;
  color: var(--color-dark-100);
  z-index: 60;
}

.homepage #game-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100vh;
}



/* About styles */
body:has(.thoughts),
body:has(.about) {
  min-height: 100vh;
  background-color: var(--color-purple-500);
}

/* Thoughts styles */
.article-preview h2 a {
  text-decoration: none; 
}

.article-preview .read-more {
  position: relative;
  margin-top: 30px;
}

.article-preview .read-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 150px;
  
  height: 1px;
  background-color: var(--color-purple-300);
}
