.backButton {
  margin-bottom: 20px;

  a {
    display: block;
    background-color: #5d2ca6;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    
    border-radius: 15px;
  }
}

.wrapper {
  max-width: var(--max-width);
  padding: 40px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 60px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

    .aside {
      @media (max-width: 768px) {
        .hidePhone {
          display: none;
        }
      }
      img {
        display: block;
        max-width: 100%;
        border-radius: 15px;
      }
    }
    main {
      article {
        &:first-child {
          h2 {
            margin-top: 0;
          }
        }
        h2 {
          font-size: 32px;
          line-height: 48px;
        }
        p {
          font-size: 20px;
          line-height: 32px;
          margin-bottom: 20px;
        }
      }
    }
}