.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto 40px auto;
}
.image {
  max-width: 100%;
  height: auto;
}

.smallImageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin: 0 auto 40px auto;
}

.microImageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto 40px auto;
}